.custom-column {
  width: 100px;
  height: 100px;
}

.custom-collapse-field {
  width: 200px;
}

.custom-form-modal {
  max-width: 150px;
}

.custom-form-column {
  max-width: 250px;
}

.custom-font {
  font-family: Montserrat, sans-serif;
}

.width-form {
  width: 123px;
}

.custom-form-control {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-form-width {
  min-width: 500px;
}

.fill-width {
  flex-grow: 1;
}

.bg {
  background-image: url("gambar/Image%201.png");
  background-size: cover;
  opacity: 0.5;
}

.tes {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.column-gap {
  column-gap: 10px;
}

.icon-navbar {
  background-image: url(../../assets/img/gambar/top-logo.png);
}

.bg-blue {
  background-color: #303382!important;
  background-repeat: no-repeat;
  border: none;
}

.table-wrapper-scroll-y {
  display: block;
}

.sticky-header {
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: white;
}

.my-custom-scrollbar {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.max-height {
  max-height: 100%;
}

.p-absolute {
  position: absolute;
}

body, html {
  min-width: 100vw;
  min-height: 100vh;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.clickable {
  cursor: pointer;
}

.custom-link {
  text-decoration: none;
}

#accordionBeranda a.nav-link:hover {
  background-color: #303382!important;
  color: white!important;
}

