#sidenav .nav-item * {
  transition: 0.5s!important;
  background-color: transparent;
}

#sidenav .nav-item .nav-link.active {
  border-left: 2px solid white;
}

#sidenav .nav-item .nav-link[aria-expanded="true"] {
  background-color: #191c62;
}

#sidenav .nav-item.collapse.show .nav-link {
  background-color: #191c62;
}

#sidenav .nav-item.collapsing .nav-link {
  background-color: #191c62;
}

#sidenav {
  position: fixed;
  z-index: 10;
  min-height: 100%;
  left: -100%;
  transition: 0.5s;
  margin-top: 4.375rem;
  box-sizing: border-box;
  background-color: #303382;
}

#sidenav.active {
  left: 0;
}

#sidebar-toggle {
  display: block!important;
}

#sidenav-overlay {
  background-color: black;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  /*margin-top: 4.375rem;*/
  transition: opacity 0.5s;
  display: none;
  box-sizing: border-box;
}

#sidenav-overlay.active {
  display: block;
  opacity: 0.2;
}

#topnav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 15;
}

.navbar-brand {
  color: #303382!important;
  font-size: 1rem;
}

#sidebar-toggle i {
  color: #303382;
}

.box-sizing-border {
  box-sizing: border-box;
}

#content {
  padding-top: 6rem;
}

.d-inline-block {
  display: inline-block!important;
}

table .shrink {
  width: 1px;
  white-space: nowrap;
}

table .grow {
  width: 100%;
}

input.small {
  max-width: 6rem;
}

.clickable {
  cursor: pointer;
}

.nav-link.active.btn.btn-primary {
  background-color: white;
  color: black;
  border: 1px solid #4E73DF;
}

.tab-card {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body, html {
  min-height: 100vh;
}

.small-table {
  max-height: 200px;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.no-decoration a {
  text-decoration: none;
  color: inherit;
}

.text-white .close {
  color: white;
}

.gaji-lain:hover {
  background-color: #C1C1C1;
  color: white;
}

.bg-white {
  background-color: white!important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.column {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0!important;
  padding-right: 0!important;
}

.iresize {
  width: 1px!important;
  min-width: 100%!important;
}

