.font-weight-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.custom-double-border {
  border-bottom: 3px double black !important;
}

.custom-border {
  border-bottom: 1px solid black !important;
}

.w-10 {
  width: 10%;
}

.w-33 {
  width: 33%;
}

.w-38 {
  width: 38%;
}

.w-23 {
  width: 23%;
}

.w-28 {
  width: 28%;
}

.w-15 {
  width: 15%;
}

.w-5 {
  width: 5%;
}

.w-2 {
  width: 2%;
}

.w-3 {
  width: 3%;
}

.w-35 {
  width: 35%;
}

.w-30 {
  width: 30%!important;
}

.w-20 {
  width: 20%;
}

.small-font-size {
  color: black !important;
  font-size: 10px;
}

.custom-font-size {
  color: black !important;
  font-size: 0.85em;
}

.medium-font-size td,.medium-font-size th{
  border: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
  color: black !important;
  font-size: 12px;
}

.rekap-table td,.rekap-table th{
  border: 1px solid black;
  padding-left: 3px;
  padding-right: 3px;
  color: black !important;
  font-size: 10px;
}

.custom-column {
  width: 100px;
  height: 100px;
}

.custom-collapse-field {
  width: 200px;
}

.custom-form-modal {
  max-width: 150px;
}

.custom-form-column {
  max-width: 250px;
}

.custom-font {
  font-family: Montserrat, sans-serif;
}

.width-form {
  width: 123px;
}

.custom-form-control {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: .35rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input-form-width {
  min-width: 500px;
}

.fill-width {
  flex-grow: 1;
}

.bg {
  background-image: url("http://localhost/sistem-gaji/assets/img/gambar/Image%201.png");
  background-size: cover;
  opacity: 0.5;
}

.tes {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.column-gap {
  column-gap: 10px;
}


.bg-blue {
  background-color: #303382!important;
  background-repeat: no-repeat;
  border: none;
}

.table-wrapper-scroll-y {
  display: block;
}

.sticky-header {
  position: sticky;
  top: -1px;
  z-index: 100;
  background-color: white;
}

.my-custom-scrollbar {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.max-height {
  max-height: 100%;
}

.p-absolute {
  position: absolute;
}

body, html {
  min-width: 100vw;
  min-height: 100vh;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.clickable {
  cursor: pointer;
}

.custom-link {
  text-decoration: none;
}

#accordionBeranda a.nav-link:hover {
  background-color: #303382!important;
  color: white!important;
}

/*
 STYLES-1
*/
#sidenav .nav-item * {
  transition: 0.5s!important;
  background-color: transparent;
}

#sidenav .nav-item .nav-link.active {
  border-left: 2px solid white;
}

#sidenav .nav-item .nav-link[aria-expanded="true"] {
  background-color: #191c62;
}

#sidenav .nav-item.collapse.show .nav-link {
  background-color: #191c62;
}

#sidenav .nav-item.collapsing .nav-link {
  background-color: #191c62;
}

#sidenav {
  position: fixed;
  z-index: 10;
  min-height: 100%;
  left: -100%;
  transition: 0.5s;
  margin-top: 4.375rem;
  box-sizing: border-box;
  background-color: #303382;
}

#sidenav.active {
  left: 0;
}

#sidebar-toggle {
  display: block!important;
}

#sidenav-overlay {
  background-color: black;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  /*margin-top: 4.375rem;*/
  transition: opacity 0.5s;
  display: none;
  box-sizing: border-box;
}

#sidenav-overlay.active {
  display: block;
  opacity: 0.2;
}

#topnav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 15;
}

.navbar-brand {
  color: #303382!important;
  font-size: 1rem;
}

#sidebar-toggle i {
  color: #303382;
}

.box-sizing-border {
  box-sizing: border-box;
}

#content {
  padding-top: 6rem;
}

.d-inline-block {
  display: inline-block!important;
}

table .shrink {
  width: 1px;
  white-space: nowrap;
}

table .grow {
  width: 100%;
}

input.small {
  max-width: 6rem;
}

.clickable {
  cursor: pointer;
}

.nav-link.active.btn.btn-primary {
  background-color: white;
  color: black;
  border: 1px solid #4E73DF;
}

.tab-card {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

body, html {
  min-height: 100vh;
}

.small-table {
  max-height: 200px;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.no-decoration {
  text-decoration: none;
  color: inherit;
}

.no-decoration a {
  text-decoration: none;
  color: inherit;
}

.text-white .close {
  color: white;
}

.gaji-lain:hover {
  background-color: #C1C1C1;
  color: white;
}

.bg-white {
  background-color: white!important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.column {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0!important;
  padding-right: 0!important;
}

.iresize {
  width: 1px!important;
  min-width: 100%!important;
}

.form-control[disabled]{background-color:#eaecf4;opacity:1}
